@import url('https://fonts.googleapis.com/css?family=Karla');

$font: 'Karla';

//colours
$a: #2d2e2b;
$l: #e6ebe5;

ion-header {
  ion-title {
    font-family: $font;
    letter-spacing: 1px;
    color: $a;
  }
}
ion-title, ion-content {
  font-family: $font;
  color: $a;
}
ion-item {
    --padding-top: 10px;
    ion-input, ion-label {
        font-family: $font;
        color: $a;
    }
}

