<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      LEADERBOARD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="tertiary" *ngFor="let user of current">
      <ion-card-header>
        <ion-card-subtitle id="sub">HOW YOU COMPARE</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p id="rank1" slot="start">?</p>
        <p id="name1">{{user.name}}</p>
        <p id="grade1">{{user.grade}}th</p>
        <p id="points1">{{user.points}}<ion-icon name="flash" color="primary"></ion-icon></p>
      </ion-card-content>
    </ion-card>
     
      <ion-card class="list" *ngFor="let user of empList, let i = index" [attr.data-index]="i">
        <ion-card-content>
          <p id="rank" slot="start">{{i+1}}</p>
          <p id="name">{{user.name}}</p>
          <p id="grade">{{user.grade}}th</p>
          <p id="points">{{user.points}}<ion-icon name="flash" color="primary"></ion-icon></p>
        </ion-card-content>
      </ion-card>
</ion-content>
