@import url('https://fonts.googleapis.com/css?family=Karla');

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #65e2c2;
  --ion-color-primary-rgb: 101,226,194;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #59c7ab;
  --ion-color-primary-tint: #74e5c8;

  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  --ion-color-tertiary: #a993ff;
  --ion-color-tertiary-rgb: 169,147,255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #9581e0;
  --ion-color-tertiary-tint: #b29eff;

  --ion-color-success: #8fdefe;
  --ion-color-success-rgb: 143,222,254;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #7ec3e0;
  --ion-color-success-tint: #9ae1fe;

  --ion-color-warning: #fcdb94;
  --ion-color-warning-rgb: 252,219,148;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dec182;
  --ion-color-warning-tint: #fcdf9f;

  --ion-color-danger: #fe5d98;
  --ion-color-danger-rgb: 254,93,152;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e05286;
  --ion-color-danger-tint: #fe6da2;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #8e95a9;
  --ion-color-medium-rgb: 142,149,169;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #7d8395;
  --ion-color-medium-tint: #99a0b2;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-tab-bar-color: #2d2e2b;
}